@require "**/**"

@import url('http://fonts.googleapis.com/css?family=Nunito|Lora')

html
body
  height 100%
  width 100%
  margin 0px
  padding 0px
  background-color #fff3de

#root
  height 100%
  width 100%
  margin 0px
  padding 0px
  font-family: Lora,'Open Sans';

h1
h2
h3
h4
h5
h6
pre
blockquote
  font-family Nunito
  margin 0px

.base-container
  height 100%
  width 100%
  margin 0px
  padding 0px

.base
  height 100%
  width 100%
  margin 0px
  padding 0px

.nav
  display flex
  align-items center
  padding .5rem
  background-color #6A8BD4
  height 2rem

.nav-action
  text-decoration none
  color white

.site-content
  display flex
  flex-flow column wrap
  align-items center
  >div
    margin-top 1rem

.button
  font-size 1rem
  padding .5rem
  border-radius 7px
  cursor pointer
  border 1px solid #3E317E
  background-color #6A8BD4
  color white
  &:hover
    background-color #4D679E
